body {
    background: #060608;
    font-family: "Shadows-Into-Light", "Arial";
    height: 100%
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: #2470a0;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Indie Flower";
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds, #tens {
    font-size: 2em;
}

button {
    background: #060608;
    color: #2470a0;
    border: solid 1px #2470a0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}
    button:hover {
        background: #2470a0;
        border: solid 1px;
        color: #060608;
}    

